/* Contact Text */

.ContactFormContainer {
  padding: 4rem;
}
.ContactTextContainer {
  max-width: 55%;
  margin: 2rem;
}

.FormIntro {
  font-weight: bold;
  color: var(--third-color);
  font-size: 18px;
}
.FormHeader {
  font-size: 28px;
  padding: 1rem 0;
}
.FormText {
  line-height: 1.8;
}

/* Contact Form */

.FormContainer {
  padding: 3rem 0;
  margin: 2rem;
}
.FormTopInput {
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  margin-right: 35px;
  width: 30%;
  font-size: 18px;
  padding-bottom: 10px;
  outline: none;
}
.FormTextArea {
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  margin-top: 6rem;
  width: 94%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  height: 75px;
}

.FormBtn {
  padding: 1.2rem 5rem;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  background-color: var(--third-color);
  border: none;
  margin-top: 3rem;
  transition: 0.8s all;
  display: block;
}
.FormBtn:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}
