<<<<<<< HEAD
.Current a:active,
.Current a.active {
  border-color: var(--primary-color);
  color: #333;
}
=======
.Current a:active,
.Current a.active {
  border-color: var(--primary-color);
  color: #333;
}
>>>>>>> 6bf5347e744296b9209f0489c7500aebc7eff1f9
