<<<<<<< HEAD
.AnswerBtn {
  display: block;
}

.FormAnswer {
  display: block;
}
=======
.AnswerBtn {
  display: block;
}

.FormAnswer {
  display: block;
}
>>>>>>> 6bf5347e744296b9209f0489c7500aebc7eff1f9
