<<<<<<< HEAD
.BannerContainer {
  height: 400px;
}
.BannerHeader {
  color: #fff;
}
=======
.BannerContainer {
  height: 400px;
}
.BannerHeader {
  color: #fff;
}
>>>>>>> 6bf5347e744296b9209f0489c7500aebc7eff1f9
