.FooterContainer {
  padding: 4rem 6rem;
  margin: 0 auto;
}
.FooterHeadings {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem 0 3rem 0;
}
.FooterHeader {
  margin: 0 auto;
}
.FooterTitle {
  padding: 1rem 0;
  font-weight: bold;
  color: var(--secondary-color);
  font-family: Arial, Helvetica, sans-serif;
}
.FooterPoint {
  padding-bottom: 10px;
}

.SubscribeContainer {
  text-align: center;
  padding: 3rem 0;
}
.SubscribeHeader {
  padding-bottom: 20px;
  font-weight: bold;
}
.InputEmail {
  font-size: 16px;
  padding: 0.9rem 0.5rem;
  border: 1px solid var(--third-color);
}
.SubscribeBtn {
  padding: 1rem 2rem;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  background-color: var(--third-color);
  border: none;
  margin-top: 1rem;
  transition: 0.8s all;
}

.SubscribeBtn:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

.FooterByContainer {
  text-align: center;
  padding: 1.5rem;
  border-top: 1px solid lightgray;
}
.FooterBy span {
  color: var(--primary-color);
}

.FooterLink {
  text-decoration: none;
  color: var(--dark-color);
}
.FooterLink:hover {
  text-decoration: underline;
}

@media (max-width: 1430px) {
  .FooterContainer {
    padding: 4rem 2rem;
    margin: 0 auto;
  }
  .FooterHeader {
    margin: 0;
    padding: 0 1rem;
  }
}
@media (max-width: 900px) {
  .FooterHeadings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 0 3rem 0;
  }
  .FooterContainer {
    padding: 4rem;
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  .FooterHeadings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 0 3rem 0;
  }
  .FooterContainer {
    padding: 2rem;
    margin: 0 auto;
  }
}
@media (max-width: 350px) {
  .FooterHeadings {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem 0 3rem 0;
  }
  .InputEmail {
    text-align: center;
  }
}
