@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");

:root {
  --dark-color: #282828;
  --light-color: #f4f4f4;
  --primary-color: #240090;
  --secondary-color: #190061;
  --third-color: #3500d3;
  --fourth-color: #0c0032;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Varela Round", sans-serif;
}
